body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #e5e0ff;
}

h1 {
  color: #333;
}

label {
  font-size: 16px;
  color: #555;
}

select {
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
  /* background-color: #FFF2F2; */
  background-color: #e5e0ff;
}

.content {
  font-size: 18px;
  color: #666;
}
